.js_chess {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media all and (max-width: 959px) {
    .js_chess {
    flex-direction: column;
  }
}
.column {
  display: flex;
  padding: 10px;
}

.column_left {
  flex: 2;
}
.column_right {
  flex: 1;
}
.menu {
  margin: 0 auto;
  width: 90%;
}
.board {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  border: 10px solid #999999;
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
}
.board[disabled] {
  opacity: .25;
  pointer-events: none;
}
.board .field {
  display: block;
  padding-top: 100%;
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.board .field:hover {
  -webkit-box-shadow:inset 0px 0px 0px 3px #3366CC;
  -moz-box-shadow:inset 0px 0px 0px 3px #3366CC;
  box-shadow:inset 0px 0px 0px 3px #3366CC;
}
.board .moveFrom {
  -webkit-box-shadow:inset 0px 0px 0px 3px #3366CC;
  -moz-box-shadow:inset 0px 0px 0px 3px #3366CC;
  box-shadow:inset 0px 0px 0px 3px #3366CC;
}
.board .moveTo {
  -webkit-box-shadow:inset 0px 0px 0px 2px #33CC33;
  -moz-box-shadow:inset 0px 0px 0px 2px #33CC33;
  box-shadow:inset 0px 0px 0px 2px #33CC33;
}
.board .lastMove {
  -webkit-box-shadow:inset 0px 0px 0px 2px #FF0033;
  -moz-box-shadow:inset 0px 0px 0px 2px #FF0033;
  box-shadow:inset 0px 0px 0px 2px #FF0033;
}
.board .pieceP {
  background-image: url(./img/pawn_white.png);
}
.board .pieceK {
  background-image: url(./img/king_white.png);
}
.board .pieceQ {
  background-image: url(./img/queen_white.png);
}
.board .pieceR {
  background-image: url(./img/rook_white.png);
}
.board .pieceB {
  background-image: url(./img/bishop_white.png);
}
.board .pieceN {
  background-image: url(./img/knight_white.png);
}
.board .piecep {
  background-image: url(./img/pawn_black.png);
}
.board .piecek {
  background-image: url(./img/king_black.png);
}
.board .pieceq {
  background-image: url(./img/queen_black.png);
}
.board .piecer {
  background-image: url(./img/rook_black.png);
}
.board .pieceb {
  background-image: url(./img/bishop_black.png);
}
.board .piecen {
  background-image: url(./img/knight_black.png);
}
.overlay {
  background-image: url(./img/game_over.jpg);
  background-size: 40% 20%;
  background-repeat:no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #212121;
}
body .field {
  background-color: #cccccc;
}
body .field:nth-of-type(-2n+8), body .field:nth-of-type(8) ~ *:nth-of-type(-2n+15), body .field:nth-of-type(16) ~ *:nth-of-type(-2n+24), body .field:nth-of-type(24) ~ *:nth-of-type(-2n+31), body .field:nth-of-type(32) ~ *:nth-of-type(-2n+40), body .field:nth-of-type(40) ~ *:nth-of-type(-2n+47), body .field:nth-of-type(48) ~ *:nth-of-type(-2n+56), body .field:nth-of-type(56) ~ *:nth-of-type(-2n+63) {
  background-color: #666666;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
button:hover {
  background-color: #006400;
}
button:disabled {
  opacity: .5;
  pointer-events: none;
}
.history {
  background-color: #f0f7fb;
  line-height: 18px;
  overflow: hidden;
  margin: 10px 0px 10px 0px;
  min-height: 100px;
  text-align: center;
  padding: 5px;
}
