.js_chess {
  display: flex;
  flex-direction: row;
  width: 100%;
}

:root {
  --board-light: #c6baa6;
  --board-dark: #6a5745;
  --board-border: #3b2f27;

  --hl-hover: var(--hl-from);
  --hl-from: var(--hl-last);
  --hl-to: #3aa6a1;
  --hl-last: #d77a2c;

  --panel-bg: #1b1714;
  --panel-surface: #26211d;
  --panel-border: #3b2f27;
  --panel-text: #d7d0c6;
  --panel-muted: #a79f95;

  --accent: #caa56a;
  --accent-strong: #b89257;
  --accent-green: #3aa6a1;
  --danger: #b35a5a;
}
@media all and (max-width: 959px) {
    .js_chess {
    flex-direction: column;
  }
}
.column {
  display: flex;
  padding: 10px;
}

.column_left {
  flex: 2;
}
.column_right {
  flex: 1;
}
.menu {
  margin: 0 auto;
  width: 90%;
}
.board {
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  border: 10px solid var(--board-border);
  width: min(calc(100vw - 450px), 90vh);
  height: min(calc(100vw - 450px), 90vh);
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
@media all and (max-width: 959px) {
  .board {
    width: 90vw;
    height: 90vw;
  }
}
.board.finished {
  opacity: .25;
  pointer-events: none;
  position: relative;
}
.board.finished::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/game_over.jpg);
  background-size: 40% 20%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.board .field {
  display: block;
  padding-top: 100%;
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.board .field:hover {
  -webkit-box-shadow: inset 0px 0px 0px 3px var(--hl-hover);
  -moz-box-shadow: inset 0px 0px 0px 3px var(--hl-hover);
  box-shadow: inset 0px 0px 0px 3px var(--hl-hover);
}
.board .lastMove {
  -webkit-box-shadow: inset 0px 0px 0px 3px var(--hl-last), inset 0px 0px 0px 1px rgba(0,0,0,0.35) !important;
  -moz-box-shadow: inset 0px 0px 0px 3px var(--hl-last), inset 0px 0px 0px 1px rgba(0,0,0,0.35) !important;
  box-shadow: inset 0px 0px 0px 3px var(--hl-last), inset 0px 0px 0px 1px rgba(0,0,0,0.35) !important;
}
.board .moveFrom {
  -webkit-box-shadow: inset 0px 0px 0px 3px var(--hl-from), inset 0px 0px 0px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0px 0px 0px 3px var(--hl-from), inset 0px 0px 0px 1px rgba(0,0,0,0.35);
  box-shadow: inset 0px 0px 0px 3px var(--hl-from), inset 0px 0px 0px 1px rgba(0,0,0,0.35);
}
.board .moveTo {
  -webkit-box-shadow: inset 0px 0px 0px 3px var(--hl-to);
  -moz-box-shadow: inset 0px 0px 0px 3px var(--hl-to);
  box-shadow: inset 0px 0px 0px 3px var(--hl-to);
}
.board .pieceP {
  background-image: url(./img/pawn_white.png);
}
.board .pieceK {
  background-image: url(./img/king_white.png);
}
.board .pieceQ {
  background-image: url(./img/queen_white.png);
}
.board .pieceR {
  background-image: url(./img/rook_white.png);
}
.board .pieceB {
  background-image: url(./img/bishop_white.png);
}
.board .pieceN {
  background-image: url(./img/knight_white.png);
}
.board .piecep {
  background-image: url(./img/pawn_black.png);
}
.board .piecek {
  background-image: url(./img/king_black.png);
}
.board .pieceq {
  background-image: url(./img/queen_black.png);
}
.board .piecer {
  background-image: url(./img/rook_black.png);
}
.board .pieceb {
  background-image: url(./img/bishop_black.png);
}
.board .piecen {
  background-image: url(./img/knight_black.png);
}
.overlay {
  width: 100%;
  height: 100%;
}


body {
  padding: 0;
  margin: 0;
  background-color: #141210;
  font-size: 20px;
  color: var(--panel-text);
}
a:visited{
  color: var(--accent-green);
}
a:link{
  color: var(--accent-green);
}

body .field {
  background-color: var(--board-light);
}
body .field:nth-of-type(-2n+8), body .field:nth-of-type(8) ~ *:nth-of-type(-2n+15), body .field:nth-of-type(16) ~ *:nth-of-type(-2n+24), body .field:nth-of-type(24) ~ *:nth-of-type(-2n+31), body .field:nth-of-type(32) ~ *:nth-of-type(-2n+40), body .field:nth-of-type(40) ~ *:nth-of-type(-2n+47), body .field:nth-of-type(48) ~ *:nth-of-type(-2n+56), body .field:nth-of-type(56) ~ *:nth-of-type(-2n+63) {
  background-color: var(--board-dark);
}
button {
  background-color: var(--accent);
  border: none;
  color: #1a1410;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
}
button:hover {
  background-color: var(--accent-strong);
}
button:disabled {
  opacity: .5;
  pointer-events: none;
}
.menu #history {
  background-color: var(--panel-surface);
  line-height: 18px;
  overflow: hidden;
  margin: 10px 0px 10px 0px;
  text-align: center;
  padding: 5px;
  color: var(--panel-text);
  border: 1px solid var(--panel-border);
  border-radius: 10px;
  overflow-y: scroll;
  height: 105px;
  font-size: 18px;
}
.menu #history b {
  color: var(--panel-muted);
  letter-spacing: 0.5px;
}
.menu p {
  color: var(--panel-text);
}
.menu strong, .menu b {
  color: var(--panel-text);
}
.menu #copyright {
  margin-top: 50px;
  text-align: center;
}
.menu #confirmation {
  margin-top: 35px;
}
.menu #level {
  margin-top: 35px;
}
/* Customize the label (the level_wrapper) */
.level_wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.level_wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--panel-surface);
  border: 1px solid var(--panel-border);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.level_wrapper:hover input ~ .checkmark {
  background-color: #2f2924;
}

/* When the radio button is checked, add a blue background */
.level_wrapper input:checked ~ .checkmark {
  background-color: var(--accent-green);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.level_wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.level_wrapper .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f2eadc;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3a332d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #f2eadc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-green);
}

input:focus + .slider {
  box-shadow: 0 0 0 2px rgba(202, 165, 106, 0.35);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.loading {
  cursor: wait;
}
